@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.container {
  max-width: 1136px;
  margin: 0 auto;
}

.header {
  background-color: #1E3685;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu ul li {
  padding-left: 12px;
  padding-right: 12px;
}

.header__menu ul li a {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  /* Белый */
  color: #FFFFFF;
  /* Inside auto layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.menu__contacts {
  padding-top: 13px;
  padding-bottom: 14px;
  text-align: end;
}

.menu__contacts_number a {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  /* or 25px */
  /* Белый */
  color: #FFFFFF;
}

.menu__contacts_call a {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 140%;
  /* or 18px */
  /* Белый */
  color: #FFFFFF;
  padding-bottom: 2px;
  border-bottom: 0.5px solid #FFFFFF;
}

.img_numb {
  padding-top: 4px;
}

.main-page {
  margin-top: 132px;
}

.main-page__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-page__header {
  max-width: 560px;
}

.main-page__header_discription p {
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 24px;
  text-transform: uppercase;
  color: #0263B2;
}

.main-page__header_title {
  margin-top: 6px;
  margin-bottom: 37px;
}

.main-page__header_title h1 {
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  font-size: 51px;
  line-height: 110%;
  color: #181818;
}

.main-page__header_kinds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-page__header_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-page__img {
  position: relative;
}

.main-page__img img {
  position: absolute;
  max-width: 614px;
  left: -502px;
  top: -300px;
}

.kinds__item {
  padding-left: 5px;
}

.kinds__item:last-child {
  padding-left: 70px;
}

.kinds__item p {
  padding-left: 20px;
  position: relative;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #000000;
}

.kinds__item p img {
  position: absolute;
  left: -5px;
  top: 2px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button__item {
  padding-top: 65px;
  margin-bottom: 181px;
}

.button__item:last-child {
  padding-left: 30px;
}

.button__item a {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #FFFFFF;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  padding: 17px 26.5px;
  background: #B20237;
  border-radius: 5px;
}

.why {
  background: #F2F8FC;
}

.why__row {
  padding-top: 56px;
  padding-bottom: 20px;
}

.why__title {
  padding-bottom: 40px;
}

.why__title h2 {
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  /* or 54px */
  /* Черный */
  color: #000000;
}

.why__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.why__columns_column {
  padding: 24px 24px 48px 24px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 24px 48px rgba(230, 235, 245, 0.4);
          box-shadow: 0px 24px 48px rgba(230, 235, 245, 0.4);
  border-radius: 10px;
}

.why__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.why__buttons_item {
  margin-top: 57px;
  margin-bottom: 53px;
}

.why__buttons_item a {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #FFFFFF;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  padding: 17px 26.5px;
  background: #B20237;
  border-radius: 5px;
}

.btn__container {
  margin: 0 auto;
  max-width: 563px;
}

.whyt {
  color: #1E3685;
}

.column__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column__header_name {
  padding-left: 15px;
  max-width: 227px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */
  /* Черный */
  color: #000000;
  /* Inside auto layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin-bottom: 10px;
}

.column__content {
  max-width: 310px;
}

.column__content p {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  /* Черный */
  color: #000000;
}

.questions {
  background: #0263B2;
}

.questions__header_title {
  padding-top: 56px;
  margin-bottom: 40px;
}

.questions__header_title h2 {
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  /* identical to box height, or 54px */
  /* Белый */
  color: #FFFFFF;
}

.questions__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.questions__columns_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 30px;
  margin-bottom: 25px;
  background: #FFFFFF;
  border-radius: 10px;
}

.column__image {
  max-width: 88px;
}

.column__body {
  padding-left: 29px;
}

.column__title {
  padding-bottom: 10px;
}

.column__title h2 {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */
  /* акцент */
  color: #B20237;
}

.column__discr p {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  color: #000000;
}

.column-alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 24px 29px;
  margin-bottom: 56px;
}

.column-alert__content {
  padding-left: 10px;
}

.column-alert__content p {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */
  /* ТСиний */
  color: #1E3685;
  /* Inside auto layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.checked {
  padding-top: 56px;
  padding-bottom: 56px;
}

.checked__header_title h2 {
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  /* identical to box height, or 54px */
  /* Черный */
  color: #000000;
}

.checked__row {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checked__btn_img {
  position: relative;
  left: -35px;
}

.checked__btn_button {
  padding-top: 47px;
  text-align: center;
}

.checked__btn_button a {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  /* identical to box height */
  /* Белый */
  color: #FFFFFF;
  /* Inside auto layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  background: #B20237;
  border-radius: 5px;
  padding: 17px 26.5px;
}

.checked__content_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.checked__column_body {
  padding-left: 31px;
  padding-bottom: 24px;
  margin-left: 14px;
  border-left: 1px solid #66727F;
}

.checked__column_body p {
  max-width: 599px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  /* Черный */
  color: #000000;
  /* Inside auto layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.checked .content__title {
  padding-left: 16px;
}

.checked .content__title h2 {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */
  /* Черный */
  color: #000000;
  /* Inside auto layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.checked__columnsed {
  padding-left: 45px;
}

.checked__columnsed_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checked__columns_title {
  padding-top: 16px;
  padding-bottom: 16px;
}

.checked__columns_title h3 {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */
  /* Черный */
  color: #000000;
  /* Inside auto layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.checked__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 16px;
}

.checked__line_img img {
  margin-top: 5px;
  padding-right: 8px;
}

.checked__line p {
  max-width: 273px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */
  /* Черный */
  color: #000000;
  /* Inside auto layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-positive: 0;
      flex-grow: 0;
}
