                        @import "nullstyle";
                        .container {
                            max-width: 1136px;
                            margin: 0 auto;
                        }
                        
                        @font-face {
                            font-family: 'HelveticaNeueCyr';
                            src: url(/fonts/helveticaneuecyr_black.otf);
                            font-style: normal;
                            font-weight: 700;
                        }
                        
                        .header {
                            background-color: #1E3685;
                            &__row {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                            }
                            &__logo {}
                            &__menu {
                                ul {
                                    display: flex;
                                    li {
                                        padding-left: 12px;
                                        padding-right: 12px;
                                        a {
                                            font-family: 'Arial';
                                            font-style: normal;
                                            font-weight: 400;
                                            font-size: 16px;
                                            line-height: 140%;
                                            /* or 22px */
                                            /* Белый */
                                            color: #FFFFFF;
                                            /* Inside auto layout */
                                            flex: none;
                                            order: 0;
                                            flex-grow: 0;
                                        }
                                    }
                                }
                            }
                        }
                        
                        .menu {
                            &__item {}
                            &__contacts {
                                padding-top: 13px;
                                padding-bottom: 14px;
                                text-align: end;
                                &_number {
                                    a {
                                        font-family: 'Arial';
                                        font-style: normal;
                                        font-weight: 700;
                                        font-size: 18px;
                                        line-height: 140%;
                                        /* or 25px */
                                        /* Белый */
                                        color: #FFFFFF;
                                    }
                                }
                                &_call {
                                    a {
                                        font-family: 'Arial';
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 13px;
                                        line-height: 140%;
                                        /* or 18px */
                                        /* Белый */
                                        color: #FFFFFF;
                                        padding-bottom: 2px;
                                        border-bottom: 0.5px solid #FFFFFF;
                                    }
                                }
                            }
                        }
                        
                        .img_numb {
                            padding-top: 4px;
                        }
                        
                        .number-link {}
                        
                        .call-link {}
                        
                        // main-page
                        .main-page {
                            margin-top: 132px;
                            &__row {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                            }
                            &__header {
                                max-width: 560px;
                                &_discription {
                                    p {
                                        font-family: 'Play';
                                        font-style: normal;
                                        font-weight: 700;
                                        font-size: 21px;
                                        line-height: 24px;
                                        text-transform: uppercase;
                                        color: #0263B2;
                                    }
                                }
                                &_title {
                                    margin-top: 6px;
                                    margin-bottom: 37px;
                                    h1 {
                                        font-family: 'Play';
                                        font-style: normal;
                                        font-weight: 700;
                                        font-size: 51px;
                                        line-height: 110%;
                                        color: #181818;
                                    }
                                }
                                &_kinds {
                                    display: flex;
                                }
                                &_button {
                                    display: flex;
                                }
                            }
                            &__img {
                                position: relative;
                                img {
                                    position: absolute;
                                    max-width: 614px;
                                    left: -502px;
                                    top: -300px;
                                }
                            }
                        }
                        
                        .kinds {
                            &__item {
                                padding-left: 5px;
                                &:last-child {
                                    padding-left: 70px;
                                }
                                p {
                                    padding-left: 20px;
                                    position: relative;
                                    font-family: 'Arial';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 18px;
                                    line-height: 140%;
                                    color: #000000;
                                    img {
                                        position: absolute;
                                        left: -5px;
                                        top: 2px;
                                    }
                                }
                            }
                        }
                        
                        .button {
                            display: flex;
                            &__item {
                                padding-top: 65px;
                                margin-bottom: 181px;
                                &:last-child {
                                    padding-left: 30px;
                                }
                                a {
                                    font-family: 'Arial';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 17px;
                                    line-height: 20px;
                                    color: #FFFFFF;
                                    flex: none;
                                    order: 0;
                                    flex-grow: 0;
                                    // кнопка
                                    padding: 17px 26.5px;
                                    background: #B20237;
                                    border-radius: 5px;
                                }
                            }
                        }
                        
                        .why {
                            background: #F2F8FC;
                            &__row {
                                padding-top: 56px;
                                padding-bottom: 20px;
                            }
                            &__title {
                                padding-bottom: 40px;
                                h2 {
                                    font-family: 'Play';
                                    font-style: normal;
                                    font-weight: 700;
                                    font-size: 36px;
                                    line-height: 150%;
                                    /* or 54px */
                                    /* Черный */
                                    color: #000000;
                                }
                            }
                            &__columns {
                                display: flex;
                                justify-content: space-between;
                                &_column {
                                    padding: 24px 24px 48px 24px;
                                    background: #FFFFFF;
                                    box-shadow: 0px 24px 48px rgba(230, 235, 245, 0.4);
                                    border-radius: 10px;
                                }
                            }
                            &__buttons {
                                display: flex;
                                justify-content: space-between;
                                &_item {
                                    margin-top: 57px;
                                    margin-bottom: 53px;
                                    a {
                                        font-family: 'Arial';
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 17px;
                                        line-height: 20px;
                                        color: #FFFFFF;
                                        flex: none;
                                        order: 0;
                                        flex-grow: 0;
                                        // кнопка
                                        padding: 17px 26.5px;
                                        background: #B20237;
                                        border-radius: 5px;
                                    }
                                }
                            }
                        }
                        
                        .btn__container {
                            margin: 0 auto;
                            max-width: 563px;
                        }
                        
                        .whyt {
                            color: #1E3685;
                        }
                        
                        .column {
                            &__header {
                                display: flex;
                                &_img {}
                                &_name {
                                    padding-left: 15px;
                                    max-width: 227px;
                                    font-family: 'Arial';
                                    font-style: normal;
                                    font-weight: 700;
                                    font-size: 18px;
                                    line-height: 150%;
                                    /* or 27px */
                                    /* Черный */
                                    color: #000000;
                                    /* Inside auto layout */
                                    flex: none;
                                    order: 2;
                                    flex-grow: 0;
                                    margin-bottom: 10px;
                                }
                            }
                            &__content {
                                max-width: 310px;
                                p {
                                    font-family: 'Arial';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 150%;
                                    /* or 24px */
                                    /* Черный */
                                    color: #000000;
                                }
                            }
                        }
                        
                        .questions {
                            background: #0263B2;
                            &__header {
                                &_title {
                                    padding-top: 56px;
                                    margin-bottom: 40px;
                                    h2 {
                                        font-family: 'Play';
                                        font-style: normal;
                                        font-weight: 700;
                                        font-size: 36px;
                                        line-height: 150%;
                                        /* identical to box height, or 54px */
                                        /* Белый */
                                        color: #FFFFFF;
                                    }
                                }
                            }
                            &__columns {
                                display: flex;
                                flex-direction: column;
                                &_column {
                                    display: flex;
                                    align-items: center;
                                    padding: 24px 30px;
                                    margin-bottom: 25px;
                                    background: #FFFFFF;
                                    border-radius: 10px;
                                }
                            }
                        }
                        
                        .container {}
                        
                        .column {
                            &__image {
                                max-width: 88px;
                            }
                            &__body {
                                padding-left: 29px;
                            }
                            &__title {
                                padding-bottom: 10px;
                                h2 {
                                    font-family: 'Arial';
                                    font-style: normal;
                                    font-weight: 700;
                                    font-size: 18px;
                                    line-height: 150%;
                                    /* identical to box height, or 27px */
                                    /* акцент */
                                    color: #B20237;
                                }
                            }
                            &__discr {
                                p {
                                    font-family: 'Arial';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 150%;
                                    /* or 24px */
                                    color: #000000;
                                }
                            }
                        }
                        
                        .column-alert {
                            display: flex;
                            align-items: center;
                            background: #FFFFFF;
                            border-radius: 10px;
                            padding: 24px 29px;
                            margin-bottom: 56px;
                            &__img {}
                            &__content {
                                padding-left: 10px;
                                p {
                                    font-family: 'Arial';
                                    font-style: normal;
                                    font-weight: 700;
                                    font-size: 18px;
                                    line-height: 150%;
                                    /* identical to box height, or 27px */
                                    /* ТСиний */
                                    color: #1E3685;
                                    /* Inside auto layout */
                                    flex: none;
                                    order: 1;
                                    flex-grow: 0;
                                }
                            }
                        }
                        
                        .checked {
                            padding-top: 56px;
                            padding-bottom: 56px;
                            &__header {
                                &_title {
                                    h2 {
                                        font-family: 'Play';
                                        font-style: normal;
                                        font-weight: 700;
                                        font-size: 36px;
                                        line-height: 150%;
                                        /* identical to box height, or 54px */
                                        /* Черный */
                                        color: #000000;
                                    }
                                }
                            }
                            &__row {
                                padding-top: 50px;
                                display: flex;
                                &_btn {}
                                &_content {}
                            }
                            &__btn {
                                &_img {
                                    position: relative;
                                    left: -35px;
                                }
                                &_button {
                                    padding-top: 47px;
                                    text-align: center;
                                    a {
                                        font-family: 'Arial';
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 17px;
                                        line-height: 20px;
                                        /* identical to box height */
                                        /* Белый */
                                        color: #FFFFFF;
                                        /* Inside auto layout */
                                        flex: none;
                                        order: 0;
                                        flex-grow: 0;
                                        background: #B20237;
                                        border-radius: 5px;
                                        padding: 17px 26.5px;
                                    }
                                }
                            }
                            &__content {
                                &_header {
                                    display: flex;
                                    align-items: flex-start;
                                }
                            }
                            &__column {
                                &_body {
                                    &:last-child {}
                                    padding-left: 31px;
                                    padding-bottom: 24px;
                                    margin-left: 14px;
                                    border-left: 1px solid #66727F;
                                    p {
                                        max-width: 599px;
                                        font-family: 'Arial';
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 16px;
                                        line-height: 150%;
                                        /* or 24px */
                                        /* Черный */
                                        color: #000000;
                                        /* Inside auto layout */
                                        flex: none;
                                        order: 1;
                                        flex-grow: 0;
                                    }
                                }
                            }
                            .checkd {
                                &__column {}
                            }
                            .content {
                                &__numb {}
                                &__title {
                                    padding-left: 16px;
                                    h2 {
                                        font-family: 'Arial';
                                        font-style: normal;
                                        font-weight: 700;
                                        font-size: 18px;
                                        line-height: 150%;
                                        /* identical to box height, or 27px */
                                        /* Черный */
                                        color: #000000;
                                        /* Inside auto layout */
                                        flex: none;
                                        order: 0;
                                        flex-grow: 0;
                                    }
                                }
                            }
                        }
                        
                        .checked {
                            &__columnsed {
                                padding-left: 45px;
                                &_row {
                                    display: flex;
                                }
                            }
                            &__columns {
                                &_title {
                                    padding-top: 16px;
                                    padding-bottom: 16px;
                                    h3 {
                                        font-family: 'Arial';
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 16px;
                                        line-height: 150%;
                                        /* identical to box height, or 24px */
                                        /* Черный */
                                        color: #000000;
                                        /* Inside auto layout */
                                        flex: none;
                                        order: 1;
                                        flex-grow: 0;
                                    }
                                }
                            }
                            &__clmn {}
                            &__line {
                                display: flex;
                                align-items: flex-start;
                                padding-bottom: 16px;
                                &_img {
                                    img {
                                        margin-top: 5px;
                                        padding-right: 8px;
                                    }
                                }
                                p {
                                    max-width: 273px;
                                    font-family: 'Arial';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 150%;
                                    color: #000000;
                                    flex: none;
                                    order: 1;
                                    flex-grow: 0;
                                }
                            }
                        }
                        
                        .system {
                            background: #0263B2;
                            padding-bottom: 56px;
                            &__header {
                                &_title {
                                    padding-top: 56px;
                                    padding-bottom: 40px;
                                    h2 {
                                        font-family: 'Play';
                                        font-style: normal;
                                        font-weight: 700;
                                        font-size: 36px;
                                        line-height: 150%;
                                        color: #FFFFFF;
                                    }
                                }
                            }
                            &__row {
                                display: flex;
                                justify-content: space-evenly;
                                &_body {
                                    max-width: 580px;
                                    font-family: 'Arial';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 150%;
                                    color: #FFFFFF;
                                }
                            }
                            &__columns {
                                padding-left: 80px;
                                &_title {
                                    h3 {
                                        padding-bottom: 36px;
                                        padding-left: 62px;
                                        font-family: 'Play';
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 18px;
                                        line-height: 150%;
                                        /* identical to box height, or 27px */
                                        /* Белый */
                                        color: #FFFFFF;
                                    }
                                }
                                &_row {
                                    display: flex;
                                    flex-wrap: wrap;
                                    padding-left: 30px;
                                }
                            }
                            &__column {
                                display: flex;
                                padding-right: 31px;
                                &_img {
                                    padding-right: 24px;
                                }
                                &_body {
                                    h2 {
                                        font-family: 'Arial';
                                        font-style: normal;
                                        font-weight: 700;
                                        font-size: 26px;
                                        line-height: 150%;
                                        /* identical to box height, or 39px */
                                        /* Белый */
                                        color: #FFFFFF;
                                        /* Inside auto layout */
                                        flex: none;
                                        order: 0;
                                        flex-grow: 0;
                                    }
                                    p {
                                        font-family: 'Arial';
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 14px;
                                        line-height: 150%;
                                        /* or 21px */
                                        /* Белый */
                                        color: #FFFFFF;
                                        /* Inside auto layout */
                                        flex: none;
                                        order: 1;
                                        flex-grow: 0;
                                        max-width: 156px;
                                    }
                                }
                            }
                        }
                        
                        .reviews {
                            background: #FAFCFF;
                            padding-top: 56px;
                            &__header {
                                &_title {
                                    margin-bottom: 72px;
                                    h2 {
                                        font-family: 'Play';
                                        font-style: normal;
                                        font-weight: 700;
                                        font-size: 36px;
                                        line-height: 150%;
                                        /* identical to box height, or 54px */
                                        /* Черный */
                                        color: #000000;
                                    }
                                }
                            }
                        }
                        
                        .slider {
                            padding-left: 60px;
                            &__button {
                                margin-top: 57px;
                                text-align: center;
                                padding-bottom: 60px;
                                a {
                                    padding: 17px 25px;
                                    background: #B20237;
                                    border-radius: 5px;
                                    font-family: 'Arial';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 17px;
                                    line-height: 20px;
                                    /* identical to box height */
                                    /* Белый */
                                    color: #FFFFFF;
                                }
                            }
                            &__card {
                                max-height: 368px;
                                display: flex;
                                flex-direction: column;
                                &_title {
                                    padding-bottom: 10px;
                                    h4 {
                                        font-family: 'HelveticaNeueCyr';
                                        font-style: normal;
                                        font-weight: 700;
                                        font-size: 18px;
                                        line-height: 150%;
                                        /* or 27px */
                                        /* ТГолубой */
                                        color: #0263B2;
                                        /* Inside auto layout */
                                        flex: none;
                                        order: 0;
                                        flex-grow: 0;
                                    }
                                }
                                &_content {
                                    max-width: 290px;
                                    p {
                                        font-family: 'Arial';
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 16px;
                                        line-height: 150%;
                                        /* or 24px */
                                        /* Черный */
                                        color: #000000;
                                    }
                                }
                                &_footer {
                                    max-width: 310px;
                                    display: flex;
                                    justify-content: space-between;
                                    padding-top: 20px;
                                }
                                &_footer-name {
                                    h4 {
                                        font-family: 'Arial';
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 16px;
                                        line-height: 150%;
                                        /* identical to box height, or 24px */
                                        /* Серый текст */
                                        color: #66727F;
                                    }
                                }
                                &_footer-date {
                                    p {
                                        font-family: 'Arial';
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 16px;
                                        line-height: 150%;
                                        /* identical to box height, or 24px */
                                        /* Серый текст */
                                        color: #66727F;
                                    }
                                }
                            }
                        }
                        
                        .slider__border {
                            width: 100%;
                            border-bottom: 1px solid #E2E2E2;
                            padding-top: 40px;
                        }
                        
                        .accordion {
                            align-items: center;
                            background-color: white;
                            color: #fff;
                            cursor: pointer;
                            padding: 16px;
                            width: 560px;
                            height: 93px;
                            border: none;
                            text-align: left;
                            outline: none;
                            font-size: 18px;
                            transition: 0.5s;
                            font-family: 'Arial';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 20px;
                            line-height: 150%;
                            border-radius: 10px;
                            margin: 8px;
                            /* or 30px */
                            /* кликаб */
                            color: #0173C1;
                            h2 {
                                width: 476px;
                            }
                        }
                        
                        .accordion-small {
                            align-items: center;
                            background-color: white;
                            color: #fff;
                            cursor: pointer;
                            padding: 16px;
                            width: 560px;
                            height: 58px;
                            border: none;
                            text-align: left;
                            outline: none;
                            font-size: 18px;
                            transition: 0.5s;
                            font-family: 'Arial';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 20px;
                            line-height: 150%;
                            border-radius: 10px;
                            margin: 8px;
                            /* or 30px */
                            /* кликаб */
                            color: #0173C1;
                            h2 {
                                width: 476px;
                            }
                        }
                        
                        .accordion-big {
                            align-items: center;
                            background-color: white;
                            color: #fff;
                            cursor: pointer;
                            padding: 16px;
                            width: 560px;
                            height: 118px;
                            border: none;
                            text-align: left;
                            outline: none;
                            font-size: 18px;
                            transition: 0.5s;
                            font-family: 'Arial';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 20px;
                            line-height: 150%;
                            border-radius: 10px;
                            margin: 8px;
                            /* or 30px */
                            /* кликаб */
                            color: #0173C1;
                            h2 {
                                width: 476px;
                            }
                        }
                        
                        .active,
                        .accordion:hover {}
                        
                        .accordion:after {
                            position: relative;
                            top: -45px;
                            content: '\002B';
                            color: black;
                            font-size: 18px;
                            font-weight: bold;
                            float: right;
                            margin-left: 5px;
                        }
                        
                        .active:after {
                            content: "\2212";
                        }
                        
                        .active,
                        .accordion-small:hover {}
                        
                        .accordion-small:after {
                            position: relative;
                            top: -30px;
                            content: '\002B';
                            color: black;
                            font-size: 18px;
                            font-weight: bold;
                            float: right;
                            margin-left: 5px;
                        }
                        
                        .active:after {
                            content: "\2212";
                        }
                        
                        .active,
                        .accordion-big:hover {}
                        
                        .accordion-big:after {
                            position: relative;
                            top: -60px;
                            content: '\002B';
                            color: black;
                            font-size: 18px;
                            font-weight: bold;
                            float: right;
                            margin-left: 5px;
                        }
                        
                        .active:after {
                            content: "\2212";
                        }
                        
                        .panel {
                            color: #212121;
                            background-color: #fff;
                            max-height: 0;
                            overflow: hidden;
                            transition: max-height 0.3s ease-out;
                            margin: 8px;
                            margin-top: -16px;
                            border-bottom-left-radius: 10px;
                            border-bottom-righ-radius: 10px;
                            p {
                                width: 504px;
                                padding: 24px;
                                font-family: 'Arial';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 150%;
                                /* or 24px */
                                /* Черный */
                                color: #000000;
                            }
                        }
                        
                        .accord {
                            background: #F2F8FC;
                        }
                        
                        .accord {
                            &__header {
                                padding-top: 56px;
                                padding-bottom: 48px;
                                &_title {
                                    h3 {
                                        font-family: 'Play';
                                        font-style: normal;
                                        font-weight: 700;
                                        font-size: 36px;
                                        line-height: 150%;
                                        /* identical to box height, or 54px */
                                        /* Черный */
                                        color: #000000;
                                    }
                                }
                            }
                            &__row {
                                display: flex;
                                justify-content: space-between;
                                &_content {
                                    padding-bottom: 56px;
                                }
                            }
                        }
                        
                        .check {
                            padding-bottom: 124px;
                            &__header {
                                padding-top: 58px;
                                padding-bottom: 30px;
                                &_title {
                                    h2 {
                                        font-family: 'Play';
                                        font-style: normal;
                                        font-weight: 700;
                                        font-size: 36px;
                                        line-height: 150%;
                                        /* identical to box height, or 54px */
                                        /* Черный */
                                        color: #000000;
                                    }
                                }
                            }
                            &__row {
                                display: flex;
                                &_img {
                                    position: relative;
                                    img {
                                        position: absolute;
                                        left: 51px;
                                        top: -20px;
                                        width: 585px;
                                    }
                                }
                            }
                        }
                        
                        .interactive {
                            &_list {
                                display: flex;
                                flex-direction: column;
                                input {
                                    margin-top: 16px;
                                    width: 600px;
                                    height: 52px;
                                    background: #FFFFFF;
                                    border: 1px solid #CDD1D4;
                                    border-radius: 5px;
                                    padding: 15px;
                                    font-family: 'Arial';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 17px;
                                    line-height: 150%;
                                    /* identical to box height, or 26px */
                                    color: #999999;
                                }
                            }
                        }
                        
                        .interactive-btn {
                            padding-top: 40px;
                            button {
                                font-family: 'Arial';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 17px;
                                line-height: 20px;
                                /* identical to box height */
                                /* Белый */
                                color: #FFFFFF;
                                padding: 17px 25px;
                                background: #B20237;
                                border-radius: 5px;
                            }
                        }
                        
                        .footer {
                            padding-top: 40px;
                            background: #1E3685;
                            &__columns {
                                display: flex;
                                justify-content: space-between;
                            }
                            &__info {
                                display: flex;
                                justify-content: space-between;
                                border-top: 1px solid rgba(255, 255, 255, 0.2);
                                p {
                                    padding-top: 37px;
                                    padding-bottom: 23px;
                                    font-family: 'Arial';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 14px;
                                    line-height: 16px;
                                    color: rgba(245, 245, 245, 0.54);
                                }
                            }
                        }
                        
                        .column {
                            &__logo {
                                &_title {
                                    padding-bottom: 37px;
                                    h2 {
                                        font-family: 'Montserrat';
                                        font-style: normal;
                                        font-weight: 700;
                                        font-size: 36px;
                                        line-height: 44px;
                                        /* identical to box height */
                                        color: #FAFAFA;
                                    }
                                }
                                &_adres {
                                    padding-bottom: 21px;
                                    p {
                                        font-family: 'Arial';
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 18px;
                                        line-height: 21px;
                                        color: #FAFAFA;
                                    }
                                }
                                &_pk {
                                    padding-bottom: 48px;
                                    p {
                                        font-family: 'Arial';
                                        font-style: normal;
                                        font-weight: 700;
                                        font-size: 12px;
                                        line-height: 14px;
                                        color: #FAFAFA;
                                    }
                                }
                            }
                            &__menu {
                                ul {
                                    display: flex;
                                    li {
                                        padding-left: 15px;
                                        a {
                                            font-family: 'Arial';
                                            font-style: normal;
                                            font-weight: 700;
                                            font-size: 16px;
                                            line-height: 18px;
                                            color: #FAFAFA;
                                        }
                                    }
                                }
                            }
                            &__contacts {
                                &_socsite {
                                    padding-bottom: 34px;
                                    a {
                                        padding-left: 5px;
                                    }
                                }
                                &_number {
                                    display: flex;
                                    flex-direction: column;
                                    a {
                                        font-family: 'Arial';
                                        font-style: normal;
                                        font-weight: 700;
                                        font-size: 24px;
                                        line-height: 28px;
                                        /* identical to box height */
                                        text-align: right;
                                        color: #FAFAFA;
                                    }
                                }
                            }
                        }